[user]
    name = Akshay Patel
    email = akshayrpatel@gmail.com

[core]
    excludesfile = ~/.gitignore
    pager = cat
    whitespace = space-before-tab,trailing-space

[color]
	ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold reverse white
    new = green bold reverse
    whitespace = white reverse

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[merge]
    log = true

[push]
    default = simple

[alias]
    sortdiff = !sh -c 'git diff "$@" | grep "^[+-]" | sort --key=1.2 | uniq -u -s1'

    # Log PR number for commit
    logpr = !sh -c 'git log --reverse --grep=\"Merge pull request\" -n 1 \
    --ancestry-path master ^$1 $@' -

    # Switch to a branch, creating it if necessary
    go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

    # Show commit tree view
    tree = "log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'"

    # Merge GitHub pull request on top of the `master` branch
    mpr = "!f() { \
        if [ $(printf \"%s\" \"$1\" | grep '^[0-9]\\+$' > /dev/null; printf $?) -eq 0 ]; then \
            git fetch origin refs/pull/$1/head:pr/$1 && \
            git rebase master pr/$1 && \
            git checkout master && \
            git merge pr/$1 && \
            git branch -D pr/$1 && \
            git commit --amend -m \"$(git log -1 --pretty=%B)\n\nCloses #$1.\"; \
        fi \
    }; f"

[branch]
	autosetuprebase = always
[pager]
	diff = diff-so-fancy
	show = diff-so-fancy
